@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Merriweather");
/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../scss/index.scss */
* {
  font-family: 'Merriweather', serif, 微軟正黑體;
}

/* line 16, ../scss/index.scss */
html, body {
  position: relative;
  overflow-x: hidden;
}

/* line 21, ../scss/index.scss */
#side-nav {
  color: #000;
  float: left;
  position: fixed;
  top: 0px;
  bottom: 0px;
  height: 100vh;
  width: 210px;
  z-index: 100;
  border-right: solid 1px rgba(136, 136, 136, 0.2);
  transition: 0.8s ease-in-out;
}
/* line 33, ../scss/index.scss */
#side-nav #menu_toggle {
  cursor: pointer;
  background-color: #262626;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: -40px;
}
@media screen and (min-width: 768px) {
  /* line 33, ../scss/index.scss */
  #side-nav #menu_toggle {
    display: none;
  }
}
/* line 46, ../scss/index.scss */
#side-nav #menu_toggle .fa {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 57, ../scss/index.scss */
#side-nav ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 63, ../scss/index.scss */
#side-nav li {
  text-align: center;
  line-height: 2;
  list-style: none;
  margin-bottom: 30px;
}
/* line 69, ../scss/index.scss */
#side-nav li a {
  color: #000;
  text-decoration: none;
}
/* line 74, ../scss/index.scss */
#side-nav li .title {
  font-size: 24px;
  font-weight: 900;
  transition: 0.3s;
}
/* line 80, ../scss/index.scss */
#side-nav li .infoIcon {
  width: 120px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  position: relative;
  transition: 0.3s;
}
/* line 90, ../scss/index.scss */
#side-nav li .infoIcon:hover .fa {
  color: #ffb347;
}
/* line 95, ../scss/index.scss */
#side-nav li .infoIcon .fa {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: initial;
  background-color: #fff;
}
/* line 106, ../scss/index.scss */
#side-nav li p {
  font-size: 14px;
  letter-spacing: 1.5px;
  margin-top: 15px;
  transition: 0.3s;
}
/* line 114, ../scss/index.scss */
#side-nav li:hover a {
  color: #ffb347;
  text-decoration: none;
}
/* line 119, ../scss/index.scss */
#side-nav li:hover .infoIcon {
  background-color: #ffb347;
}

/* line 125, ../scss/index.scss */
#side-nav.open {
  transform: translateX(0%);
}

/* line 131, ../scss/index.scss */
#content {
  position: relative;
  transition: 0.8s ease-in-out;
  background-color: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* line 141, ../scss/index.scss */
section {
  width: 100%;
}
/* line 144, ../scss/index.scss */
section .heading {
  text-align: center;
}
/* line 147, ../scss/index.scss */
section .heading h2 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 15px;
}
/* line 152, ../scss/index.scss */
section .heading h6 {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 2, ../scss/about.scss */
section#section_about {
  position: relative;
}

/* line 7, ../scss/about.scss */
.screenCover {
  position: relative;
  display: block;
}
/* line 11, ../scss/about.scss */
.screenCover .coverPhoto {
  width: 100%;
  height: 400px;
  background-image: url("https://lh3.googleusercontent.com/dGA3b6-CXfHV1eKxQ8rO6Si_SSq6QmH9AlvcdMcCOyH1vXkpUtYId0TGjD11zbPz8Yk0DfMV=s640-h400-e365");
  background-position: center center;
}

/* line 22, ../scss/about.scss */
.heading {
  padding: 60px 10px;
}

/* line 28, ../scss/about.scss */
.resume {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 33, ../scss/about.scss */
a:link, a:visited, a:hover {
  color: initial;
  text-decoration: none;
}

/* line 38, ../scss/about.scss */
.iconContainer {
  text-align: center;
  cursor: pointer;
  width: 150px;
  padding: 10px 5px;
  margin-left: auto;
  margin-right: auto;
}
/* line 46, ../scss/about.scss */
.iconContainer:hover {
  border: solid 1px rgba(255, 179, 71, 0.8);
  border-radius: 5px;
  box-sizing: border-box;
}
/* line 52, ../scss/about.scss */
.iconContainer .imgIcon {
  width: 50px;
  height: 60px;
  margin: 0px;
}
/* line 58, ../scss/about.scss */
.iconContainer h4.title {
  font-size: 24px;
  font-weight: bold;
}
/* line 63, ../scss/about.scss */
.iconContainer h6.sub__title {
  font-size: 14px;
  margin-top: 8px;
}

/* line 71, ../scss/about.scss */
.introduction {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 75, ../scss/about.scss */
.introduction p {
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 20px;
  margin-bottom: 30px;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 480px) {
  /* line 90, ../scss/about.scss */
  .iconContainer {
    width: 100px;
    height: 130px;
    padding: 10px 5px;
  }
  /* line 95, ../scss/about.scss */
  .iconContainer.left {
    margin-right: 0px;
  }
  /* line 99, ../scss/about.scss */
  .iconContainer.right {
    margin-left: 0px;
  }
  /* line 103, ../scss/about.scss */
  .iconContainer .imgIcon {
    width: 40px;
    height: 50px;
  }
  /* line 108, ../scss/about.scss */
  .iconContainer h4.title {
    font-size: 22px;
  }
  /* line 112, ../scss/about.scss */
  .iconContainer h6.sub__title {
    font-size: 10px;
  }
}
@media screen and (min-width: 480px) {
  /* line 122, ../scss/about.scss */
  .iconContainer.left {
    margin-right: 20px;
  }
  /* line 126, ../scss/about.scss */
  .iconContainer.right {
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  /* line 173, ../scss/index.scss */
  #side-nav {
    transform: translateX(-100%);
  }

  /* line 177, ../scss/index.scss */
  #menu_toggle {
    display: block;
  }

  /* line 181, ../scss/index.scss */
  .screenCover {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /* line 190, ../scss/index.scss */
  section {
    width: 100%;
  }
  /* line 193, ../scss/index.scss */
  section .heading {
    text-align: center;
  }
  /* line 196, ../scss/index.scss */
  section .heading h2 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 15px;
  }
  /* line 201, ../scss/index.scss */
  section .heading h6 {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 768px) {
  /* line 211, ../scss/index.scss */
  #content {
    width: calc(100vw - 210px);
    transform: translateX(210px);
  }
}
