@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Merriweather");
/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../scss/index.scss */
* {
  font-family: 'Merriweather', serif, 微軟正黑體;
}

/* line 16, ../scss/index.scss */
::selection {
  background-color: #ffcc33;
  color: #fff;
}

/* line 21, ../scss/index.scss */
html, body {
  position: relative;
  overflow-x: hidden;
}

/* line 26, ../scss/index.scss */
#side-nav {
  color: #000;
  float: left;
  position: fixed;
  top: 0px;
  bottom: 0px;
  height: 100vh;
  width: 210px;
  z-index: 100;
  border-right: solid 1px rgba(136, 136, 136, 0.2);
  transition: 0.8s ease-in-out;
}
/* line 38, ../scss/index.scss */
#side-nav #menu_toggle {
  cursor: pointer;
  background-color: #262626;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: -40px;
}
@media screen and (min-width: 768px) {
  /* line 38, ../scss/index.scss */
  #side-nav #menu_toggle {
    display: none;
  }
}
/* line 51, ../scss/index.scss */
#side-nav #menu_toggle .fa {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 62, ../scss/index.scss */
#side-nav ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 68, ../scss/index.scss */
#side-nav li {
  text-align: center;
  line-height: 2;
  list-style: none;
  margin-bottom: 30px;
}
/* line 74, ../scss/index.scss */
#side-nav li a {
  color: #000;
  text-decoration: none;
}
/* line 79, ../scss/index.scss */
#side-nav li .title {
  font-size: 24px;
  font-weight: 900;
  transition: 0.2s;
}
/* line 85, ../scss/index.scss */
#side-nav li .infoIcon {
  width: 120px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  position: relative;
  transition: 0.2s;
}
/* line 95, ../scss/index.scss */
#side-nav li .infoIcon:hover .fa {
  color: #ffb347;
}
/* line 100, ../scss/index.scss */
#side-nav li .infoIcon .fa {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: initial;
  background-color: #fff;
}
/* line 111, ../scss/index.scss */
#side-nav li p {
  font-size: 14px;
  letter-spacing: 1.5px;
  margin-top: 15px;
  transition: 0.2s;
}
/* line 119, ../scss/index.scss */
#side-nav li:hover a {
  color: #ffb347;
  text-decoration: none;
}
/* line 124, ../scss/index.scss */
#side-nav li:hover .infoIcon {
  background-color: #ffb347;
}

/* line 130, ../scss/index.scss */
#side-nav.open {
  transform: translateX(0%);
}

/* line 136, ../scss/index.scss */
#content {
  position: relative;
  transition: 0.8s ease-in-out;
  background-color: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 25px;
}

/* line 148, ../scss/index.scss */
section {
  width: 100%;
  margin-bottom: 80px;
}
/* line 152, ../scss/index.scss */
section .heading {
  text-align: center;
}
/* line 155, ../scss/index.scss */
section .heading h2 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 15px;
  text-transform: uppercase;
}
/* line 161, ../scss/index.scss */
section .heading h6 {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 171, ../scss/index.scss */
footer {
  margin-bottom: 20px;
}
/* line 174, ../scss/index.scss */
footer p {
  font-size: 14px;
  text-align: center;
}

/* line 1, ../scss/about.scss */
section#section_about {
  position: relative;
}

/* line 5, ../scss/about.scss */
.screenCover {
  position: relative;
  display: block;
}
/* line 9, ../scss/about.scss */
.screenCover .coverPhoto {
  width: 100%;
  height: 400px;
  background-image: url("https://lh3.googleusercontent.com/dGA3b6-CXfHV1eKxQ8rO6Si_SSq6QmH9AlvcdMcCOyH1vXkpUtYId0TGjD11zbPz8Yk0DfMV=s640-h400-e365");
  background-position: center center;
}

/* line 17, ../scss/about.scss */
.heading {
  padding: 150px 30px 40px 30px;
}

/* line 23, ../scss/about.scss */
.resume {
  margin-bottom: 20px;
  padding: 30px 20px;
}

/* line 28, ../scss/about.scss */
a:link, a:visited, a:hover {
  color: initial;
  text-decoration: none;
}

/* line 33, ../scss/about.scss */
.iconContainer {
  text-align: center;
  cursor: pointer;
  width: 150px;
  padding: 10px 5px;
  margin-left: auto;
  margin-right: auto;
}
/* line 41, ../scss/about.scss */
.iconContainer:hover {
  border: solid 1px rgba(255, 179, 71, 0.8);
  border-radius: 5px;
  box-sizing: border-box;
}
/* line 47, ../scss/about.scss */
.iconContainer .imgIcon {
  width: 50px;
  height: 60px;
  margin: 0px;
}
/* line 53, ../scss/about.scss */
.iconContainer h4.title {
  font-size: 24px;
  font-weight: bold;
}
/* line 58, ../scss/about.scss */
.iconContainer h6.sub__title {
  font-size: 14px;
  margin-top: 8px;
}

/* line 66, ../scss/about.scss */
.introduction {
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
/* line 71, ../scss/about.scss */
.introduction p {
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 20px;
  margin-bottom: 30px;
  text-align: justify;
}

@media screen and (max-width: 480px) {
  /* line 83, ../scss/about.scss */
  .iconContainer {
    width: 100px;
    height: 120px;
    padding: 10px 5px;
  }
  /* line 88, ../scss/about.scss */
  .iconContainer.left {
    margin-right: 0px;
  }
  /* line 92, ../scss/about.scss */
  .iconContainer.right {
    margin-left: 0px;
  }
  /* line 96, ../scss/about.scss */
  .iconContainer .imgIcon {
    width: 40px;
    height: 50px;
  }
  /* line 101, ../scss/about.scss */
  .iconContainer h4.title {
    font-size: 22px;
  }
  /* line 105, ../scss/about.scss */
  .iconContainer h6.sub__title {
    font-size: 10px;
  }

  /* line 110, ../scss/about.scss */
  .introduction {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 480px) {
  /* line 121, ../scss/about.scss */
  .iconContainer.left {
    margin-right: 20px;
  }
  /* line 125, ../scss/about.scss */
  .iconContainer.right {
    margin-left: 20px;
  }
}
/* line 1, ../scss/work.scss */
section#section_work {
  position: relative;
}
/* line 4, ../scss/work.scss */
section#section_work .heading {
  margin-bottom: 30px;
}

/* line 9, ../scss/work.scss */
.section__row {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
}

/* line 15, ../scss/work.scss */
.content {
  padding: 0px;
}

/* line 19, ../scss/work.scss */
.project {
  width: calc(100% - 10px);
  height: 200px;
  opacity: 1;
  transition: 0.5s;
  position: relative;
  z-index: 0;
}
/* line 27, ../scss/work.scss */
.project:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/AQNKPDGKR8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  z-index: -1;
  opacity: 0.8;
  filter: grayscale(0.8);
}
/* line 43, ../scss/work.scss */
.project:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
  border: solid 6px #ffcc33;
  opacity: 0;
}
/* line 56, ../scss/work.scss */
.project:hover:before {
  opacity: 1;
  filter: grayscale(0);
}
/* line 60, ../scss/work.scss */
.project:hover:after {
  opacity: 1;
  animation: hoverBorderProject 0.5s;
}
/* line 64, ../scss/work.scss */
.project:hover .project__name {
  background-color: #ffcc33;
  color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  animation: hoverNameProject 0.5s;
}
/* line 72, ../scss/work.scss */
.project .project__name {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  width: 90px;
  height: initial;
  line-height: 25px;
  text-align: center;
}
@keyframes hoverBorderProject {
  0% {
    opacity: 0;
    border-color: #ffcc33;
  }
  25% {
    opacity: 0.2;
    border-color: #ffcc33;
  }
  50% {
    opacity: 0.5;
    border-color: #ffcc33;
  }
  75% {
    opacity: 0.8;
    border-color: #ffb347;
  }
  100% {
    opacity: 1;
    border-color: #ffb347;
  }
}
@keyframes hoverNameProject {
  0% {
    opacity: 0;
    background-color: #ffcc33;
  }
  25% {
    opacity: 0.2;
    background-color: #ffcc33;
  }
  50% {
    opacity: 0.5;
    background-color: #ffcc33;
  }
  75% {
    opacity: 0.8;
    background-color: #ffb347;
  }
  100% {
    opacity: 1;
    background-color: #ffb347;
  }
}
@media screen and (max-width: 844px) {
  /* line 108, ../scss/work.scss */
  .section__row {
    margin-bottom: 0px;
  }

  /* line 112, ../scss/work.scss */
  .project {
    width: calc(100% - 10px);
    height: 140px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 992px) {
  /* line 121, ../scss/work.scss */
  .project {
    width: calc(100% - 10px);
    height: 150px;
  }
}
@media screen and (max-width: 480px) {
  /* line 130, ../scss/work.scss */
  .section__row {
    margin-bottom: 0px;
  }

  /* line 134, ../scss/work.scss */
  .project {
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
  }
  /* line 139, ../scss/work.scss */
  .project:before {
    opacity: 0.5;
    filter: grayscale(0.5);
  }
  /* line 144, ../scss/work.scss */
  .project .project__name {
    font-size: 18px;
    background-color: rgba(255, 204, 51, 0.8);
  }
}
/* line 1, ../scss/contact.scss */
section#section_contact {
  position: relative;
  margin-bottom: 30vh;
}

/* line 6, ../scss/contact.scss */
.section__row {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 11, ../scss/contact.scss */
.contact {
  margin-top: 10px;
  padding-left: 20px;
}
/* line 15, ../scss/contact.scss */
.contact p {
  font-size: 16px;
  margin-bottom: 10px;
}
/* line 20, ../scss/contact.scss */
.contact span.fa {
  margin-right: 10px;
  font-size: 18px;
  text-align: center;
  background-color: rgba(255, 204, 51, 0.5);
  color: #333;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/* line 31, ../scss/contact.scss */
.contact span.fa:hover {
  background-color: #ffcc33;
  color: #000;
  animation: hoverNameProject 0.3s;
}

/* line 39, ../scss/contact.scss */
#contact__form {
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-left: -40px;
}
/* line 45, ../scss/contact.scss */
#contact__form input {
  width: 100%;
  border: none;
  border-bottom: solid 2px rgba(0, 0, 0, 0.3);
  height: 30px;
  margin-bottom: 10px;
}
/* line 53, ../scss/contact.scss */
#contact__form input:focus {
  outline: 0;
  border-bottom: solid 2px #ffcc33;
}
/* line 58, ../scss/contact.scss */
#contact__form #message:focus {
  height: 150px;
}
/* line 63, ../scss/contact.scss */
#contact__form #send {
  background-color: rgba(255, 204, 51, 0.5);
  color: #333;
  padding: 10px 8px;
  width: 100px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
/* line 72, ../scss/contact.scss */
#contact__form #send:hover {
  background-color: #ffb347;
  color: #fff;
}
/* line 77, ../scss/contact.scss */
#contact__form #send:focus {
  outline: none;
}

@keyframes hoverNameProject {
  0% {
    opacity: 0;
    background-color: #ffcc33;
  }
  25% {
    opacity: 0.2;
    background-color: #ffcc33;
  }
  50% {
    opacity: 0.5;
    background-color: #ffcc33;
  }
  75% {
    opacity: 0.8;
    background-color: #ffb347;
  }
  100% {
    opacity: 1;
    background-color: #ffb347;
  }
}
@media screen and (max-width: 480px) {
  /* line 95, ../scss/contact.scss */
  .contact {
    margin-bottom: 30px;
  }

  /* line 99, ../scss/contact.scss */
  #contact__form {
    margin-left: 0px;
  }
}
@media screen and (max-width: 844px) {
  /* line 108, ../scss/contact.scss */
  .contact {
    margin-bottom: 30px;
  }

  /* line 112, ../scss/contact.scss */
  #contact__form {
    margin-left: 0px;
  }
}
@media (min-width: 992px) {
  /* line 119, ../scss/contact.scss */
  .contact {
    padding-left: 40px;
  }
}
@media screen and (max-width: 768px) {
  /* line 202, ../scss/index.scss */
  #side-nav {
    transform: translateX(-100%);
  }

  /* line 206, ../scss/index.scss */
  #menu_toggle {
    display: block;
  }

  /* line 210, ../scss/index.scss */
  .screenCover {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  /* line 217, ../scss/index.scss */
  .screenCover {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /* line 226, ../scss/index.scss */
  section {
    width: 100%;
  }
  /* line 229, ../scss/index.scss */
  section .heading {
    text-align: center;
  }
  /* line 232, ../scss/index.scss */
  section .heading h2 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 15px;
  }
  /* line 237, ../scss/index.scss */
  section .heading h6 {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 768px) {
  /* line 247, ../scss/index.scss */
  #content {
    width: calc(100vw - 210px);
    transform: translateX(210px);
  }
}
