@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Merriweather");
/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../scss/index.scss */
* {
  font-family: 'Merriweather', serif, 微軟正黑體;
}

/* line 16, ../scss/index.scss */
.asideWrapper {
  overflow-x: hidden;
  position: relative;
  left: 0px;
}

/* line 26, ../scss/index.scss */
nav#side-nav {
  color: #000;
  float: left;
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 210px;
  border-right: solid 1px rgba(136, 136, 136, 0.2);
  transition: 0.8s ease-in-out;
}
/* line 37, ../scss/index.scss */
nav#side-nav #menu_toggle {
  cursor: pointer;
  background-color: #262626;
  width: 40px;
  height: 40px;
  position: relative;
  top: 0px;
  right: -210px;
}
@media screen and (min-width: 768px) {
  /* line 37, ../scss/index.scss */
  nav#side-nav #menu_toggle {
    display: none;
  }
}
/* line 50, ../scss/index.scss */
nav#side-nav #menu_toggle .fa {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 61, ../scss/index.scss */
#side-nav ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 67, ../scss/index.scss */
#side-nav li {
  text-align: center;
  line-height: 2;
  list-style: none;
  margin-bottom: 30px;
}
/* line 73, ../scss/index.scss */
#side-nav li a {
  color: #000;
  text-decoration: none;
  transition: 0.5s;
}
/* line 79, ../scss/index.scss */
#side-nav li .title {
  font-size: 24px;
  font-weight: 900;
}
/* line 84, ../scss/index.scss */
#side-nav li .infoIcon {
  width: 120px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  position: relative;
  transition: 0.5s;
}
/* line 94, ../scss/index.scss */
#side-nav li .infoIcon:hover .fa {
  color: #ffb347;
}
/* line 99, ../scss/index.scss */
#side-nav li .infoIcon .fa {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: initial;
  background-color: #fff;
}
/* line 111, ../scss/index.scss */
#side-nav li p {
  font-size: 14px;
  letter-spacing: 1.5px;
  margin-top: 15px;
}
/* line 118, ../scss/index.scss */
#side-nav li:hover a {
  color: #ffb347;
  text-decoration: none;
}
/* line 123, ../scss/index.scss */
#side-nav li:hover .infoIcon {
  background-color: #ffb347;
}

/* line 129, ../scss/index.scss */
#side-nav.open {
  left: 0px;
}

@media screen and (max-width: 768px) {
  /* line 134, ../scss/index.scss */
  #side-nav {
    left: -210px;
  }

  /* line 138, ../scss/index.scss */
  #menu_toggle {
    display: block;
  }
}
