@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather");
/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../scss/project-template.scss */
* {
  font-family: 'Merriweather', serif, 微軟正黑體;
}

/* line 11, ../scss/project-template.scss */
body {
  background-color: rgba(0, 0, 0, 0.1);
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

/* line 18, ../scss/project-template.scss */
section {
  padding-top: 20px;
  padding-bottom: 30px;
}

/* line 23, ../scss/project-template.scss */
h2 {
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 10px;
}

/* line 30, ../scss/project-template.scss */
h3 {
  font-size: 20px;
  font-weight: bold;
}

/* line 37, ../scss/project-template.scss */
#section_title {
  padding-top: 80px;
}

/* line 41, ../scss/project-template.scss */
.tags {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
}
/* line 46, ../scss/project-template.scss */
.tags ul li {
  font-size: 16px;
  display: inline-block;
  background-color: rgba(255, 204, 51, 0.5);
  color: #000;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
}
/* line 56, ../scss/project-template.scss */
.tags ul li:after {
  content: '';
  border-top: solid 13px transparent;
  border-bottom: solid 13px transparent;
  border-left: solid 13px rgba(255, 204, 51, 0.5);
  position: absolute;
  top: 0px;
  right: -13px;
}

/* line 68, ../scss/project-template.scss */
.links {
  margin-bottom: 30px;
}
/* line 70, ../scss/project-template.scss */
.links a {
  color: #000;
  background-color: rgba(60, 193, 77, 0.5);
  margin-right: 10px;
  padding: 5px 8px;
  text-decoration: none;
  transition: 0.3s;
}
/* line 78, ../scss/project-template.scss */
.links a:hover {
  color: #fff;
  background-color: rgba(60, 193, 77, 0.8);
}

/* line 85, ../scss/project-template.scss */
.screen_container {
  padding: 10px;
  padding-top: 40px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 500px;
  min-height: 280px;
  background-color: #123437;
  border-radius: 8px;
  position: relative;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
}
/* line 97, ../scss/project-template.scss */
.screen_container .topper {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
}
/* line 103, ../scss/project-template.scss */
.screen_container .topper .circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fc5555;
  display: inline-block;
  box-shadow: 0px 0px 3px #fff;
}
/* line 111, ../scss/project-template.scss */
.screen_container .topper .circle:nth-child(2) {
  background-color: #fcc855;
}
/* line 115, ../scss/project-template.scss */
.screen_container .topper .circle:nth-child(3) {
  background-color: #3cc14d;
}
/* line 121, ../scss/project-template.scss */
.screen_container .innerScreen {
  width: 100%;
  max-width: 480px;
  min-height: 250px;
  background-size: 100% 100%;
  background-position: left top;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 1px #999 inset;
}

/* line 134, ../scss/project-template.scss */
hr {
  border-color: rgba(0, 0, 0, 0.1);
}

/* line 140, ../scss/project-template.scss */
#section_summary {
  padding-top: 50px;
}

/* line 144, ../scss/project-template.scss */
.summary {
  margin-top: 20px;
}
/* line 147, ../scss/project-template.scss */
.summary a {
  color: #ff9737;
  text-decoration: none;
}
/* line 152, ../scss/project-template.scss */
.summary ul {
  padding-left: 20px;
}
/* line 156, ../scss/project-template.scss */
.summary li {
  font-size: 20px;
  letter-spacing: 1.5px;
  list-style: initial;
  line-height: 28px;
  margin-bottom: 30px;
}

/* line 168, ../scss/project-template.scss */
#section_detail .detail_row {
  margin-bottom: 70px;
  margin-top: 20px;
}
/* line 173, ../scss/project-template.scss */
#section_detail .outer_container {
  width: 100%;
  max-width: 380px;
  min-height: 250px;
  padding: 10px;
  background-color: #1e5358;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  margin-top: 20px;
}
/* line 183, ../scss/project-template.scss */
#section_detail .outer_container .display {
  width: 100%;
  height: 80%;
  min-height: 200px;
  background-color: #fff;
  border-radius: 8px;
  background-size: 100% 100%;
  background-position: left top;
  box-shadow: 0px 0px 5px 1px #999 inset;
  font-size: 16px;
}
/* line 197, ../scss/project-template.scss */
#section_detail .outer_container h3 {
  padding-top: 10px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
/* line 205, ../scss/project-template.scss */
#section_detail .text {
  width: 100%;
  max-width: 380px;
  color: #000;
  padding-top: 10px;
  padding-bottom: 20px;
}
/* line 212, ../scss/project-template.scss */
#section_detail .text p {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
/* line 219, ../scss/project-template.scss */
#section_detail .text ul {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 30px;
}
/* line 224, ../scss/project-template.scss */
#section_detail .text ul li {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 26px;
  color: #333;
  list-style: initial;
  text-align: left;
}
/* line 237, ../scss/project-template.scss */
#section_detail .text ul a {
  font-size: 20px;
  color: #ff9737;
  background-color: initial;
}
/* line 241, ../scss/project-template.scss */
#section_detail .text ul a:hover {
  color: #3cc14d;
  background-color: initial;
}
/* line 248, ../scss/project-template.scss */
#section_detail .text a {
  color: #333;
  background-color: rgba(60, 193, 77, 0.8);
  padding: 5px;
  text-decoration: none;
  transition: 0.3s;
  margin-right: 10px;
  font-size: 14px;
}
/* line 257, ../scss/project-template.scss */
#section_detail .text a:hover {
  color: #fff;
  background-color: #3cc14d;
}

/* line 268, ../scss/project-template.scss */
#section_result {
  padding-top: 50px;
  padding-bottom: 130px;
}

/* line 273, ../scss/project-template.scss */
.result {
  margin-top: 20px;
}
/* line 276, ../scss/project-template.scss */
.result ul {
  padding-left: 20px;
}
/* line 280, ../scss/project-template.scss */
.result li {
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 28px;
  list-style: initial;
  margin-bottom: 30px;
}

/* line 292, ../scss/project-template.scss */
.backHome {
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 8px 15px;
}
/* line 298, ../scss/project-template.scss */
.backHome:hover {
  border: solid 1px rgba(255, 204, 51, 0.8);
  border-radius: 3px;
  cursor: pointer;
}
/* line 304, ../scss/project-template.scss */
.backHome a {
  text-decoration: none;
  color: #999;
}
/* line 309, ../scss/project-template.scss */
.backHome .fa {
  font-size: 16px;
  margin-right: 10px;
}
/* line 314, ../scss/project-template.scss */
.backHome .home {
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  /* line 321, ../scss/project-template.scss */
  h2 {
    font-size: 24px;
    line-height: 26px;
  }

  /* line 326, ../scss/project-template.scss */
  .tags {
    width: 100%;
  }
  /* line 329, ../scss/project-template.scss */
  .tags ul li {
    font-size: 14px;
  }

  /* line 334, ../scss/project-template.scss */
  .screen_container {
    min-height: 150px;
    min-width: 100%;
    margin-left: -10px;
  }
  /* line 339, ../scss/project-template.scss */
  .screen_container .innerScreen {
    min-height: 130px;
  }

  /* line 345, ../scss/project-template.scss */
  #section_summary ul li, #section_result ul li {
    font-size: 16px;
  }

  /* line 351, ../scss/project-template.scss */
  #section_detail .detail_row {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  /* line 356, ../scss/project-template.scss */
  #section_detail .outer_container {
    min-height: 150px;
    min-width: 100%;
  }
  /* line 360, ../scss/project-template.scss */
  #section_detail .outer_container .display {
    min-height: 130px;
  }
  /* line 364, ../scss/project-template.scss */
  #section_detail .outer_container h3 {
    font-size: 16px;
  }
  /* line 369, ../scss/project-template.scss */
  #section_detail .text {
    text-align: center;
    min-height: initial;
    padding-top: 10px;
  }
  /* line 375, ../scss/project-template.scss */
  #section_detail .text p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  /* line 381, ../scss/project-template.scss */
  #section_detail .text ul {
    margin-left: 20px;
    margin-right: 20px;
  }
  /* line 385, ../scss/project-template.scss */
  #section_detail .text ul li {
    font-size: 14px;
  }
  /* line 390, ../scss/project-template.scss */
  #section_detail .text a {
    font-size: 12px;
  }
}
