@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather");
/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../scss/resume.scss */
* {
  font-family: 'Merriweather', serif, 微軟正黑體;
}

/* line 11, ../scss/resume.scss */
.container {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 16, ../scss/resume.scss */
section {
  margin-top: 80px;
  margin-bottom: 80px;
}
/* line 20, ../scss/resume.scss */
section h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}
/* line 26, ../scss/resume.scss */
section h3 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 33, ../scss/resume.scss */
section h4 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 40, ../scss/resume.scss */
section h6 {
  font-size: 16px;
  margin-bottom: 30px;
}
/* line 45, ../scss/resume.scss */
section p {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: justify;
}

/* line 55, ../scss/resume.scss */
#section_about {
  text-align: center;
}
/* line 58, ../scss/resume.scss */
#section_about .contact_container {
  width: 200px;
  text-align: left;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  font-size: 15px;
}
/* line 67, ../scss/resume.scss */
#section_about .contact_container .contact {
  margin-bottom: 10px;
}
/* line 70, ../scss/resume.scss */
#section_about .contact_container .contact .fa {
  margin-right: 10px;
}
/* line 76, ../scss/resume.scss */
#section_about .links {
  margin-top: 20px;
}
/* line 79, ../scss/resume.scss */
#section_about .links a {
  margin-right: 10px;
}
/* line 83, ../scss/resume.scss */
#section_about .links .fa {
  color: #333;
  padding: 8px 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 204, 51, 0.5);
}
/* line 91, ../scss/resume.scss */
#section_about .links .fa:hover {
  background-color: #ffcc33;
  color: #000;
  animation: hoverNameProject 0.5s;
}

@keyframes hoverNameProject {
  0% {
    opacity: 0;
    background-color: #ffcc33;
  }
  25% {
    opacity: 0.2;
    background-color: #ffcc33;
  }
  50% {
    opacity: 0.5;
    background-color: #ffcc33;
  }
  75% {
    opacity: 0.8;
    background-color: #ffb347;
  }
  100% {
    opacity: 1;
    background-color: #ffb347;
  }
}
/* line 112, ../scss/resume.scss */
#section_project a {
  color: #ffb347;
  text-decoration: none;
}
/* line 117, ../scss/resume.scss */
#section_project ul {
  padding: 20px;
}
/* line 120, ../scss/resume.scss */
#section_project ul li {
  list-style: initial;
  font-size: 16px;
  margin-bottom: 10px;
}

/* line 139, ../scss/resume.scss */
#section_skill .skill_container {
  margin-bottom: 15px;
}
/* line 142, ../scss/resume.scss */
#section_skill .skill_container ul {
  list-style-type: none;
  padding: 0px;
}
/* line 147, ../scss/resume.scss */
#section_skill .skill_container li {
  padding: 5px;
  margin-bottom: 15px;
  position: relative;
  border-radius: 5px;
}
/* line 153, ../scss/resume.scss */
#section_skill .skill_container li span {
  color: #94bd1d;
  position: relative;
}
/* line 157, ../scss/resume.scss */
#section_skill .skill_container li span.bar {
  background: #B1D056;
  background: linear-gradient(to right, #B1D056, #eeaa37);
  position: absolute;
  left: 0px;
  bottom: -7px;
  height: 8px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), 1px 1px 3px rgba(51, 51, 51, 0.6);
}
/* line 169, ../scss/resume.scss */
#section_skill .skill_container li span b {
  color: #f98702;
  font-weight: normal;
  position: absolute;
  bottom: 0px;
  right: -20px;
  margin-bottom: 10px;
  font-size: 13px;
  transition: 1s;
}
/* line 182, ../scss/resume.scss */
#section_skill .skill_container li:after {
  content: '';
  width: 100%;
  height: 8px;
  background-color: #ddd;
  position: absolute;
  left: 0px;
  bottom: -10px;
  z-index: -1;
  border-radius: 5px;
  margin-bottom: 2px;
  box-shadow: 0px 0px 1px #feb, 2px 2px 8px #999 inset;
}
/* line 198, ../scss/resume.scss */
#section_skill .tool_container {
  margin-top: 20px;
  margin-bottom: -40px;
}
/* line 202, ../scss/resume.scss */
#section_skill .tool_container ul {
  padding: 20px;
}
/* line 204, ../scss/resume.scss */
#section_skill .tool_container ul li {
  list-style: initial;
  margin-bottom: 10px;
  font-size: 16pxx;
}

/* line 220, ../scss/resume.scss */
.circles_box {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: initial;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* line 230, ../scss/resume.scss */
.svg_box {
  position: relative;
  text-align: center;
}
/* line 234, ../scss/resume.scss */
.svg_box .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 1em;
  letter-spacing: 2px;
}
/* line 244, ../scss/resume.scss */
.svg_box svg {
  width: 150px;
  height: 150px;
  fill: none;
  transform: rotate(-90deg);
}
/* line 250, ../scss/resume.scss */
.svg_box svg .inner_circle {
  stroke-width: 0.15;
  stroke: #ccc;
  z-index: 0;
}
/* line 256, ../scss/resume.scss */
.svg_box svg .circle {
  stroke-width: 0.5;
  stroke: #dc8336;
  stroke-linecap: round;
  z-index: 5;
}

@media screen and (max-width: 480px) {
  /* line 270, ../scss/resume.scss */
  section h4 {
    font-size: 18px;
  }
  /* line 274, ../scss/resume.scss */
  section h6 {
    font-size: 14px;
  }
  /* line 278, ../scss/resume.scss */
  section p {
    font-size: 16px;
  }

  /* line 283, ../scss/resume.scss */
  .title {
    font-size: 14px;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  /* line 290, ../scss/resume.scss */
  .bar b {
    font-size: 10px;
  }
}
