@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato|Sedgwick+Ave");
/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../scss/special-page.scss */
* {
  font-family: 'Lato', sans-serif, 微軟正黑體;
  color: #555;
  position: relative;
}

/* line 13, ../scss/special-page.scss */
.container {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 70px;
}

/* line 19, ../scss/special-page.scss */
h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: bold;
  color: #ffcc33;
}

/* line 27, ../scss/special-page.scss */
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
/* line 32, ../scss/special-page.scss */
p a {
  font-size: 18px;
  color: #ff9737;
  text-decoration: none;
}
/* line 36, ../scss/special-page.scss */
p a:hover {
  color: #3cc14d;
  text-decoration: none;
}

/* line 43, ../scss/special-page.scss */
hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 48, ../scss/special-page.scss */
.info {
  color: #333;
  font-weight: bold;
  margin-bottom: 40px;
}

/* line 57, ../scss/special-page.scss */
.backHome {
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 8px 15px;
}
/* line 63, ../scss/special-page.scss */
.backHome:hover {
  border: solid 1px rgba(255, 204, 51, 0.5);
  border-radius: 3px;
  cursor: pointer;
}
/* line 67, ../scss/special-page.scss */
.backHome:hover .home {
  color: #000;
}
/* line 72, ../scss/special-page.scss */
.backHome a {
  text-decoration: none;
  color: #999;
}
/* line 77, ../scss/special-page.scss */
.backHome .fa {
  font-size: 16px;
  margin-right: 10px;
}
/* line 82, ../scss/special-page.scss */
.backHome .home {
  font-size: 14px;
  color: #999;
}

@media screen and (max-width: 480px) {
  /* line 92, ../scss/special-page.scss */
  h2 {
    font-size: 24px;
  }

  /* line 96, ../scss/special-page.scss */
  p, a {
    font-size: 14px;
  }
}
