section#section_about {
  position: relative;
}

.screenCover {
  position: relative;
  display: block;

  .coverPhoto {
    margin-left: -5px;
    width: 100%;
    height: 400px;
    background-image: url("../image/hi-3.png");
    background-position: 40% bottom;
    background-size: 120%;
    opacity: 0.8;

    @media (min-width: 992px) and (max-width: 1200px) {
      height: 330px;
    }
  }

  p.hello {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-20%);
    text-align: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 54px;
    letter-spacing: 2px;
    color: #435599;
    font-family: 'Sedgwick Ave', cursive;

    @media (min-width: 992px) and (max-width: 1200px) {
      font-size: 40px;
    }
  }
}

.heading {
  padding: 120px 30px 40px 30px;
}


//---------------resume-section---------------
.resume {
  padding: 0px 20px;
}

a:link, a:visited, a:hover {
  color: initial;
  text-decoration: none;
}

.iconContainer {
  text-align: center;
  cursor: pointer;
  width: 150px;
  padding: 10px 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  &:hover {
    border: solid 1px rgba(#ffb347, 0.8);
    border-radius: 3px;
    box-sizing: border-box;
  }

  .imgIcon {
    width: 50px;
    height: 60px;
    margin: 0px;
  }

  h4.title {
    font-size: 24px;
    font-weight: bold;
  }

  h6.sub__title {
    font-size: 14px;
    margin-top: 8px;
  }
}


//---------------introduction-section---------------
.introduction {
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;

  p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: justify;
  }
}


//----------------mobile---------------------
@media screen and (max-width: 480px) {
  .iconContainer {
    width: 100px;
    height: 120px;
    padding: 10px 5px;

    &.left {
      margin-right: 0px;
    }

    &.right {
      margin-left: 0px;
    }

    .imgIcon {
      width: 40px;
      height: 50px;
    }

    h4.title {
      font-size: 22px;
    }

    h6.sub__title {
      font-size: 10px;
    }
  }

  .introduction {
    margin-top: 20px;
    padding: 20px;
  }

  section {
    margin-bottom: 40px;
  }

  .heading {
    padding: 80px 30px 40px 30px;
  }

  #section_about {
    .resume {
      margin-bottom: 0px;
    }
  }
}


//----------------screen---------------------
@media screen and (min-width: 480px) {
  .iconContainer {
    &.left {
      margin-right: 20px;
    }

    &.right {
      margin-left: 20px;
    }
  }
}
