/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Merriweather");

* {
  font-family: 'Merriweather', serif, 微軟正黑體;
  // border: solid 1px black !important;
}

::selection {
  background-color: #ffcc33;
  color: #fff;
}

html, body {
  position: relative;
  overflow-x: hidden;
}

#side-nav {
  color: #000;
  float: left;
  position: fixed;
  top: 0px;
  bottom: 0px;
  height: 100vh;
  width: 210px;
  z-index: 100;
  border-right: solid 1px rgba(#888,0.2);
  transition: 0.8s ease-in-out;
  background-color: rgba(#888,0.2);

  #menu_toggle {
    cursor: pointer;
    background-color: #262626;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: -40px;

    @media screen and (min-width: 768px) {
      display: none;
    }

    .fa {
      color: #fff;
      font-size: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}

#side-nav ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#side-nav li {
  text-align: center;
  line-height: 2;
  list-style: none;
  margin-bottom: 40px;

  &:hover {
    a {
      color: #ffb347;
      text-decoration: none;
    }
    .infoIcon {
      color: #ffb347;
    }
  }

  a {
    color: #000;
    text-decoration: none;
  }

  .title {
    font-size: 24px;
    font-weight: 900;
    transition: 0.2s;
  }

  .infoIcon {
    position: relative;
    transition: 0.2s;
    margin-top: -5px;

    .fa {
      font-size: 18px;
      margin-right: 10px;
    }
  }

  .sub {
    font-size: 14px;
    letter-spacing: 1.5px;
    margin-top: 15px;
  }
}

#side-nav.open {
  transform: translateX(0%);
}


// --------content------------
#content {
  position: relative;
  transition: 0.8s ease-in-out;
  background-color: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 25px;
}


// --------section-setting------------
section {
  width: 100%;
  margin-bottom: 80px;

  .heading {
    text-align: center;

    h2 {
      font-size: 32px;
      font-weight: 900;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    h6 {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}


footer {
  margin-bottom: 20px;

  p {
    font-size: 14px;
    text-align: center;
  }
}



// --------section-about------------
@import "about.scss";



// --------section-about------------
@import "work.scss";



// --------section-about------------
@import "contact.scss";






//-------------------------------------
@media screen and (max-width: 768px) {
  #side-nav {
    transform: translateX(-100%);
  }

  #menu_toggle {
    display: block;
  }

  .screenCover {
    display: none;
  }
}


@media screen and (max-width: 992px) {
  .screenCover {
    display: none;
  }
}



//----------------mobile---------------------
@media screen and (max-width: 480px) {
  section {
    width: 100%;

    .heading {
      text-align: center;

      h2 {
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 15px;
      }
      h6 {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #content {
    width: calc(100vw - 210px);
    transform: translateX(210px);
  }
}
