@import "compass/reset";
@charset "UTF-8";

* {
  font-family: 'Lato', sans-serif, 微軟正黑體;
  // border: solid 1px black !important;
}

body {
  background-color: rgba(#000,0.1);
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

section {
  padding-top: 20px;
  padding-bottom: 30px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}


//-----------------------------------------------
#section_title {
  padding-top: 80px;
}

.tags {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;

  ul li {
    font-size: 16px;
    display: inline-block;
    background-color: rgba(#ffcc33, 0.5);
    color: #000;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 5px;
    position: relative;

    &:after {
      content: '';
      border-top: solid 13px transparent;
      border-bottom: solid 13px transparent;
      border-left: solid 13px rgba(#ffcc33, 0.5);
      position: absolute;
      top: 0px;
      right: -13px;
    }
  }
}

.links {
  margin-bottom: 30px;
  a {
    color: #000;
    background-color: rgba(#3cc14d, 0.5);
    margin-right: 10px;
    padding: 5px 8px;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: #fff;
      background-color: rgba(#3cc14d, 0.8);
    }
  }
}

.screen_container {
  padding: 10px;
  padding-top: 40px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 500px;
  min-height: 280px;
  background-color: #123437;
  border-radius: 8px;
  position: relative;
  box-shadow: 0px 0px 5px rgba(#fff,0.2);

  .topper {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;

    .circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #fc5555;
      display: inline-block;
      box-shadow: 0px 0px 3px #fff;

      &:nth-child(2) {
        background-color: #fcc855;
      }

      &:nth-child(3) {
        background-color: #3cc14d;
      }
    }
  }

  .innerScreen {
    width: 100%;
    max-width: 480px;
    min-height: 250px;
    // background-image: url('');
    background-size: 100% 100%;
    background-position: left top;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 1px #999 inset;
  }
}


hr {
  border-color: rgba(#000, 0.1);
}


// ------------------------------------------------
#section_summary {
  padding-top: 50px;
}

.summary {
  margin-top: 20px;

  a {
    color: #ff9737;
    text-decoration: none;
  }

  ul {
    padding-left: 20px;
  }

  li {
    font-size: 20px;
    letter-spacing: 1.5px;
    list-style: initial;
    line-height: 28px;
    margin-bottom: 30px;
  }
}


// ------------------------------------------------
#section_detail {
  .detail_row {
    margin-bottom: 70px;
    margin-top: 20px;
  }

  .outer_container {
    width: 100%;
    max-width: 380px;
    min-height: 250px;
    padding: 10px;
    background-color: #1e5358;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(#fff,0.2);
    margin-top: 20px;

    .display {
      width: 100%;
      height: 80%;
      // min-width: 430px;
      min-height: 200px;
      background-color: #fff;
      border-radius: 8px;
      // background-image: url('');
      background-size: 100% 100%;
      background-position: left top;
      box-shadow: 0px 0px 5px 1px #999 inset;
      font-size: 16px;
    }

    h3 {
      padding-top: 10px;
      font-size: 20px;
      color: #fff;
      text-align: center;
    }
  }

  .text {
    width: 100%;
    max-width: 380px;
    color: #000;
    padding-top: 10px;
    padding-bottom: 20px;

    p {
      margin-top: 20px;
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
    }

    ul {
      margin-top: 20px;
      margin-bottom: 30px;
      margin-left: 30px;

      li {
        // background-color: rgba(#ffcc33, 0.5);
        // display: inline-block;
        // padding: 5px 3px;
        // margin-right: 10px;
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 26px;
        color: #333;
        list-style: initial;
        text-align: left;
      }

      a {
        font-size: 20px;
        color: #ff9737;
        background-color: initial;
        &:hover {
          color: #3cc14d;
          background-color: initial;
        }
      }
    }

    a {
      color: #333;
      background-color: rgba(#3cc14d, 0.8);
      padding: 5px;
      text-decoration: none;
      transition: 0.3s;
      margin-right: 10px;
      font-size: 14px;

      &:hover {
        color: #fff;
        background-color: #3cc14d;
      }
    }
  }
}



// ------------------------------------------------
#section_result {
  padding-top: 50px;
  padding-bottom: 130px;
}

.result {
  margin-top: 20px;

  ul {
    padding-left: 20px;
  }

  li {
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 28px;
    list-style: initial;
    margin-bottom: 30px;
  }
}



//---------------backHome--------------------
.backHome {
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 8px 15px;

  &:hover {
    border: solid 1px rgba(#ffcc33, 0.8);
    border-radius: 3px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: #999;
  }

  .fa {
    font-size: 16px;
    margin-right: 10px;
  }

  .home {
    font-size: 14px;
  }
}


@media screen and (max-width: 480px) {
  h2 {
    font-size: 24px;
    line-height: 26px;
  }

  .tags {
    width: 100%;

    ul li {
      font-size: 14px;
    }
  }

  .screen_container {
    min-height: 150px;
    min-width: 100%;
    margin-left: -10px;

    .innerScreen {
      min-height: 130px;
    }
  }

  #section_summary, #section_result {
    ul li {
      font-size: 16px;
    }
  }

  #section_detail {
    .detail_row {
      margin-bottom: 30px;
      margin-top: 20px;
    }

    .outer_container {
      min-height: 150px;
      min-width: 100%;

      .display {
        min-height: 130px;
      }

      h3 {
        font-size: 16px;
      }
    }

    .text {
      text-align: center;
      min-height: initial;
      padding-top: 10px;
      // padding-bottom: 20px;

      p {
        margin-top: 20px;
        font-size: 16px;
        line-height: 20px;
      }

      ul {
        margin-left: 20px;
        margin-right: 20px;

        li {
          font-size: 14px;
        }
      }

      a {
        font-size: 12px;
      }
    }
  }
}
