//output:index.html

doctype html
head
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet", href="css/index.css")
  title YR Fang | Front-End Developer
body
  .menu#side-nav
    nav#menu_toggle
      i#toggle.fa.fa-bars
    ul
      li
        a(href="#section_about")
          .title ABOUT
          .infoIcon
            span.fa.fa-flask
            span.sub Hello
      li
        a(href="#section_work")
          .title WORK
          .infoIcon
            span.fa.fa-pencil
            span.sub Case Studies?
      li
        a(href="#section_contact")
          .title CONTACT
          .infoIcon
            span.fa.fa-envelope
            span.sub Let's get in touch
  #content
    section#section_about
      .outerContainer
        .row
          .screenCover
            .coverPhoto
            .coverLowerPhoto
          .col-xs-12.heading
            h2.title Ying Ru Fang
            h6.subtitle Front-end Developer | Taiwan, Taipei <br> Create something powerful | change the people's mind
          .col-xs-12.col-lg-8.col-lg-push-3.introduction
            p Hi, I'm Ying Ru. 
          .col-xs-12.col-lg-4.col-lg-pull-8.resume
            .row
              .col-xs-6.col-sm-4.col-sm-push-2.col-lg-push-0.col-lg-8
                a(href="resume.html")
                  .iconContainer
                    img.imgIcon(src="https://image.flaticon.com/icons/svg/85/85047.svg")
                    h4.title Resume
                    h6.sub__title View Resume
              .col-xs-6.col-sm-4.col-sm-push-2.col-lg-push-0.col-lg-8
                a(href="https://github.com/yrfang" target="_blank")
                  .iconContainer
                    img.imgIcon(src="https://image.flaticon.com/icons/svg/24/24107.svg")
                    h4.title GitHub
                    h6.sub__title View Repositories
    section#section_work
      .row
        .col-xs-12.heading
          h2.title Work
          h6.subtitle A SHOWCASE OF DESIGN, <br> DEVELOPMENT AND EXPERIMENTS
        .row.section__row
          .content.col-xs-12.col-sm-4
            a(href="work/front-end-starter's-project.html")
              .project.project_1
                .project__name Front-End Starter
          .content.col-xs-12.col-sm-8
            a(href="work/vue-starter-project.html")
              .project.project_2
                .project__name Vue.js Starter
        .row.section__row
          .content.col-xs-12.col-sm-8
            a(href="work/taipei-typhoon-message.html")
              .project.project_3
                .project__name Taipei Typhoon Information
          .content.col-xs-12.col-sm-4
            a(href="work/vue-note.html")
              .project.project_4
                .project__name Vue.js<br> Note
        .row.section__row
          .content.col-xs-12.col-sm-12
            a(href="")
              .project.project_5
                .project__name Hello,<br> Ying Ru!
          //- .content.col-xs-12.col-sm-4
          //-   a(href="")
          //-     .project
          //-       .project__name Project's Name6
          //- .content.col-xs-12.col-sm-4.col-md-4
          //-   a(href="")
          //-     .project
          //-       .project__name Project's Name7
    section#section_contact
      .row
        .col-xs-12.heading
          h2.title Contact
          h6.subtitle Feel free to e-mail me, <br> AND WOULD LOVE TO HEAR FROM YOU
        .row.section__row
          .contact.col-xs-12.col-sm-5.col-md-4
            p fyr1116@gmail.com
            p +886 986 606 551
            p Taipei, Taiwan
            .links
              a(href="")
                span.fa.fa-linkedin
              a(href="")
                span.fa.fa-facebook
              a(href="")
                span.fa.fa-codepen
              a(href="")
                span.fa.fa-medium
          .col-xs-12.col-sm-7.col-md-8
            form#contact__form
              input#name(placeholder="Name")
              input#email(placeholder="Email")
              input#message(placeholder="Message...")
              button#send Send
    footer
      p © 2017 Ying Ru Fang
          
        
      
            


  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="https://unpkg.com/vue/dist/vue.js")
  script(src="javascript/index.js")
  
