//output:resume.html

doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/resume.css")
    title Resume | YR Fang | Creative Front-End Developer
body
  #app.container
    section#section_about
      .row
        .col-xs-12
          h2.name Ying Ru Fang
          .contact_container
            .contact
              span.fa.fa-envelope
              span fyr1116@gmail.com
            .contact
              span.fa.fa-mobile
              span +886 606 551
            .contact
              span.fa.fa-map-marker
              span Taipei, Taiwan
          .links
            //- a(href="")
            //-   span.fa.fa-linkedin
            a(href="https://github.com/yrfang" target="_blank")
              span.fa.fa-github
            a(href="https://codepen.io/yrfang/" target="_blank")
              span.fa.fa-codepen
            a(href="https://www.facebook.com/yingru.fang" target="_blank")
              span.fa.fa-facebook
            //- a(href="")
            //-   span.fa.fa-medium
            a(href="")
              span.fa.fa-rss
            //- a(href="https://www.pinterest.com/fyr1116/" target="_blank")
              //- span.fa.fa-pinterest
      .row
        .brand I Can and I Will.
    section#section_profile
      .row
        h3.col-xs-12.col-md-3 Profile
        .paragraph.col-xs-12.col-md-9 
          p You may have noticed the background looks different... Yeah, I'm a chmical engineering girl but I aim to be a excellent web developer! I first tried teach myself coding until I have learned python in my first career job to predict a price of chemial raw material with a basic machine learning application. Prior to that I had always wanted to be a programmer, but it was a tough nut to crack.
          p I tried several fields in software application, such as machine learning, <a href="https://docs.djangoproject.com/en/1.11/" target="_blank">Django</a> of python back-end and front-end. From python back-end to front-end, I could not stop being attractive to the everything in front-end feild since I know how a good front-end can bring a good experience for users.
          p I have found that I love programming after having enough background in chemical engineering. It's not too late to start anything at any age, however. It's clear to me now that I want to be a creative and challenging job in my future career.
    hr
    section#section_education
      .row
        h3.col-xs-12.col-md-3 Education
        .col-xs-12.col-md-9
          .edu_container
            h4 National Taiwan University
            h6 MS - Chemical Engineering (2014.09-2016.09)
          .edu_container
            h4 National Cheng Kung University
            h6 BS - Chemical Engineering (2009.09-2013.06)
          p Solid logical thinking and ability of oranization. In my master thesis, I have been used Matlab to solve a simultaneous <a href="https://www.mathworks.com/help/matlab/math/choose-an-ode-solver.html" target="_blank">ODEs</a> in my research. That's the moment I realize how to solve a engineering problem in a efficient way, althoung Matlab or programming just a tool for chemical engineering.
          p However, that's the moment I have also enjoyed the achievement of solving problem throung coding. 
    hr
    section#section_experience
      .row
        h3.col-xs-12.col-sm-3 Work <br>Experience
        .col-xs-12.col-md-9
          .exp_container
            h4 USI Group
            h6 Planner Specialist (2016.08-2017.07) <a href="http://www.usife.com/" target="_blank">http://www.usife.com/</a>
          p I have been responsible for a new project about a raw material <a href="https://en.wikipedia.org/wiki/Styrene" target="_blank">(styrene)</a> price prediction using <a href="http://jupyter.org/index.html" target="_blank">Python</a> in a machine learning application with a linear regression model of <a href="https://en.wikipedia.org/wiki/Time_series" target="_blank">time series</a>.
          p The result was able to help improve the accuracy (about 17% error was improved) of styrene price for the company.
    hr
    section#section_project
      .row
        h3.col-xs-12.col-md-3 Side <br>Projects
        .col-xs-12.col-md-9
          .side_container
            ul
              li Front-End Starter's Website
              li Vue.js Starter's Project
              li Taipei Typhoon Information Website
              li Vue.js Note with Local Storage
            p If you want to furthermore view my side projects, take a look on <a href="index.html">my portfolio website</a>.
    hr
    section#section_skill
      .row
        h3.col-xs-12.col-md-3 Skill
        .col-xs-12.col-md-9
          .skill_container
            ul
              li
                span.title HTML / Jade / Pug
                span.bar(data-percent='85')
                  b
              li
                span.title CSS / SCSS / Sass
                span.bar(data-percent='80')
                  b
              li
                span.title JavaScript
                span.bar(data-percent='70')
                  b
              li
                span.title JQuery
                span.bar(data-percent='80')
                  b
              li
                span.title Vue.js
                span.bar(data-percent='70')
                  b
          .tool_container
            ul
              li Atom/SublimeText 3
              li Github
              li DevTools
    hr
    section#section_ohter
      .row
        h3.col-xs-12.col-md-3 Other
        .col-xs-12.col-md-9
          .row.char_container
            .svg_box.col-sm-4
              .inner
                .text Responsible
                .number(data-num='90') 0%
              svg.pie(viewbox='0 0 10 10', data-percent='90')
                circle.inner_circle(cx=5, cy=5, r=4)
                circle.circle(cx=5, cy=5, r=4)
            .svg_box.col-sm-4
              .inner
                .text Self <br>Learning
                .number(data-num='80') 0%
              svg.pie(viewbox='0 0 10 10', data-percent='80')
                circle.inner_circle(cx=5, cy=5, r=4)
                circle.circle(cx=5, cy=5, r=4)
            .svg_box.col-sm-4
              .inner
                .text Communication
                .number(data-num='85') 0%
              svg.pie(viewbox='0 0 10 10', data-percent='90')
                circle.inner_circle(cx=5, cy=5, r=4)
                circle.circle(cx=5, cy=5, r=4)
  .backHome
    a(href="index.html")
      span.fa.fa-angle-left
      span.home HOME
  
  
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://unpkg.com/vue/dist/vue.js")
    script(src="javascript/resume.js")
