//output:resume.html

doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/resume.css")
    title Resume | YR Fang | Creative Front-End Developer
body
  #app.container
    section#section_about
      .row
        .col-xs-12
          h2.name Ying Ru Fang
          .contact_container
            .contact
              span.fa.fa-envelope
              span fyr1116@gmail.com
            .contact
              span.fa.fa-mobile
              span +886 606 551
            .contact
              span.fa.fa-map-marker
              span Taipei, Taiwan
          .links
            a(href="")
              span.fa.fa-linkedin
            a(href="")
              span.fa.fa-facebook
            a(href="")
              span.fa.fa-codepen
            a(href="")
              span.fa.fa-medium
            a(href="")
              span.fa.fa-rss
    section#section_profile
      .row
        h3.col-xs-12.col-md-3 Profile
        p.paragraph.col-xs-12.col-md-9 introduction...
    hr
    section#section_education
      .row
        h3.col-xs-12.col-md-3 Education
        .col-xs-12.col-md-9
          .edu_container
            h4 National Taiwan University
            h6 MS - Chemical Engineering - 2016
          .edu_container
            h4 National Cheng Kung University
            h6 BS - Chemical Engineering - 2013
          p Solid understanding of design principles. Proficient with human computer interaction, usability testing, and prototyping.
    hr
    section#section_experience
      .row
        h3.col-xs-12.col-sm-3 Work <br>Experience
        .col-xs-12.col-md-9
          .exp_container
            h4 USI Group in Chemical Industry
            h6 Planner Specialist - 2016-2017
          p Solid understanding of design principles. Proficient with human computer interaction, usability testing, and prototyping.
    hr
    section#section_project
      .row
        h3.col-xs-12.col-md-3 Side <br>Projects
        .col-xs-12.col-md-9
          .side_container
            ul
              li 50 Starter's Project
              li 30 Days Javascript Project
              li 10 Vue.js's Project
              li Music Mixing Player Project
            p If you want to view my side projects in furthermore, take a look on <a href="#">my portfolio website</a>.
    hr
    section#section_skill
      .row
        h3.col-xs-12.col-md-3 Skill
        .col-xs-12.col-md-9
          .skill_container
            ul
              li
                span.title HTML5 & JADE
                span.bar(data-percent='85')
                  b
              li
                span.title CSS3 & SASS/SCSS
                span.bar(data-percent='80')
                  b
              li
                span.title Javascript & ES6
                span.bar(data-percent='55')
                  b
              li
                span.title jQuery
                span.bar(data-percent='75')
                  b
              li
                span.title VueJS
                span.bar(data-percent='50')
                  b
          .tool_container
            ul
              li Atom/SublimeText 3
              li Github
              li DevTools
    hr
    section#section_ohter
      .row
        h3.col-xs-12.col-md-3 Other
        .col-xs-12.col-md-9
          .row.char_container
            .svg_box.col-sm-4
              .inner
                .text Creative
                .number(data-num='75') 0%
              svg.pie(viewbox='0 0 10 10', data-percent='70')
                circle.inner_circle(cx=5, cy=5, r=4)
                circle.circle(cx=5, cy=5, r=4)
            .svg_box.col-sm-4
              .inner
                .text Self <br>Learning
                .number(data-num='80') 0%
              svg.pie(viewbox='0 0 10 10', data-percent='80')
                circle.inner_circle(cx=5, cy=5, r=4)
                circle.circle(cx=5, cy=5, r=4)
            .svg_box.col-sm-4
              .inner
                .text communication
                .number(data-num='85') 0%
              svg.pie(viewbox='0 0 10 10', data-percent='90')
                circle.inner_circle(cx=5, cy=5, r=4)
                circle.circle(cx=5, cy=5, r=4)
  .backHome
    a(href="index.html")
      span.fa.fa-angle-left
      span.home HOME
  
  
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://unpkg.com/vue/dist/vue.js")
    script(src="javascript/resume.js")
