//output:resume.html

doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/resume.css")
    title Resume | YR Fang | Creative Front-End Developer
body
  #app.container
    section#section_about
      .row
        .col-xs-12
          h2.name Ying Ru Fang
          .contact_container
            .contact
              span.fa.fa-envelope
              span fyr1116@gmail.com
            .contact
              span.fa.fa-mobile
              span +886 606 551
            .contact
              span.fa.fa-map-marker
              span Taipei, Taiwan
          .links
            //- a(href="")
            //-   span.fa.fa-linkedin
            a(href="https://github.com/yrfang" target="_blank")
              span.fa.fa-github
            a(href="https://codepen.io/yrfang/" target="_blank")
              span.fa.fa-codepen
            a(href="https://www.facebook.com/yingru.fang" target="_blank")
              span.fa.fa-facebook
            //- a(href="")
            //-   span.fa.fa-medium
            a(href="")
              span.fa.fa-rss
            //- a(href="https://www.pinterest.com/fyr1116/" target="_blank")
              //- span.fa.fa-pinterest
      .row
        .brand I Can and I Will.
    section#section_profile
      .row
        h3.col-xs-12.col-md-3 Profile
        .paragraph.col-xs-12.col-md-9 
          p You may have noticed the background looks different... Yeah, my major is chmical engineering but I aim to be a excellent web developer! I firstly tried to teach myself coding until I have learned python in my first career job. I was responsible for predicting a price of chemial raw material with a basic machine learning application. Prior to that I had always wanted to be a programmer, but it was a tough nut to crack.
          p I tried several fields in software application, such as machine learning, back-end and front-end. Finally, I could not stop being attractive to the everything in front-end feild since I know how a good front-end developer can bring a good experience for users.
          p I have found that I love programming after having enough background in chemical engineering. It's not too late to start anything at any age. However, it's clear to me now that I want to do a creative and challenging job in my future career.
    hr
    section#section_education
      .row
        h3.col-xs-12.col-md-3 Education
        .col-xs-12.col-md-9
          .edu_container
            h4 National Cheng Kung University
            h6 BS - Chemical Engineering (2009.09-2013.06)
          .edu_container
            h4 National Taiwan University
            h6 MS - Chemical Engineering (2014.09-2016.09)
          p Solid logical thinking and ability of oranization. In my master thesis, I have been used Matlab to solve a simultaneous <a href="https://www.mathworks.com/help/matlab/math/choose-an-ode-solver.html" target="_blank">ODEs</a> in my research, which published on a <a href="https://www.sciencedirect.com/science/article/pii/S1876107017306296" target="_blank">chemical engineering journal</a>. It makes me realize how to solve a engineering problem in a efficient way.
          p This is the first moment I have solved a problem throung coding.
    hr
    section#section_experience
      .row
        h3.col-xs-12.col-sm-3 Work <br>Experience
        .col-xs-12.col-md-9
          .exp_container
            h4 <a href="http://www.usife.com/" target="_blank">USI Group</a>
            h6 Planner Specialist (2016.08-2017.07)
          p I have been responsible for a new project about a raw material <a href="https://en.wikipedia.org/wiki/Styrene" target="_blank">(styrene)</a> price prediction using <a href="http://jupyter.org/index.html" target="_blank">Python</a> in a machine learning application with a linear regression model of <a href="https://en.wikipedia.org/wiki/Time_series" target="_blank">time series</a>. The result was able to help improve the accuracy (about 17% error was improved) of styrene price for the company.
          hr
          .exp_container
            h4 <a href="https://www.appmaster.cc/" target="_blank">Appmaster</a>
            h6 Front-end Engineer (2017.09-now)
          p This is my first job in my software engineer career in a start-up. I am responsible for developing a MVP(Minimum Viable Product) about a Media platform for web service in the sport field. The following quick summary are in my work:
          ul
            li React framework and React-Router to build the view of website in SSR 
            li Redux to manage state with Immutable format
            li Server side rendering was built to do a better SEO
            li Customized styled-component with SCSS according to UI guideline
            li A good team communication with back-end engineer, UI/UX designer and PM
            li A scrum development to help a start-up test their MVP as soon as possible
    hr
    section#section_project
      .row
        h3.col-xs-12.col-md-3 Side <br>Projects
        .col-xs-12.col-md-9
          .side_container
            ul
              li Front-End Starter's Website
              li Vue.js Starter's Project
              li Taipei Typhoon Information Website
              li Vue.js Note with Local Storage
            p If you want to furthermore view my side projects, take a look on <a href="index.html">my portfolio website</a>.
    hr
    section#section_skill
      .row
        h3.col-xs-12.col-md-3 Skill
        .col-xs-12.col-md-9
          .skill_container
            ul
              li
                span.title HTML / Jade / Pug
                span.bar(data-percent='90')
                  b
              li
                span.title CSS / SCSS / Sass
                span.bar(data-percent='80')
                  b
              li
                span.title JavaScript
                span.bar(data-percent='85')
                  b
              li
                span.title JQuery
                span.bar(data-percent='75')
                  b
              li
                span.title Vue.js
                span.bar(data-percent='75')
                  b
              li
                span.title React.js with Redux
                span.bar(data-percent='88')
                  b
          .tool_container
            ul
              li Atom/SublimeText
              li Git/Github
              li DevTools
              li Webpack/Babel compile
              li Git flow/Srum development
    hr
    section#section_ohter
      .row
        h3.col-xs-12.col-md-3 Other
        .col-xs-12.col-md-9
          .row.char_container
            .svg_box.col-sm-4
              .inner
                .text Responsibility
                .number(data-num='90') 0%
              svg.pie(viewbox='0 0 10 10', data-percent='90')
                circle.inner_circle(cx=5, cy=5, r=4)
                circle.circle(cx=5, cy=5, r=4)
            .svg_box.col-sm-4
              .inner
                .text Self <br>Learning
                .number(data-num='85') 0%
              svg.pie(viewbox='0 0 10 10', data-percent='80')
                circle.inner_circle(cx=5, cy=5, r=4)
                circle.circle(cx=5, cy=5, r=4)
            .svg_box.col-sm-4
              .inner
                .text Communication
                .number(data-num='85') 0%
              svg.pie(viewbox='0 0 10 10', data-percent='90')
                circle.inner_circle(cx=5, cy=5, r=4)
                circle.circle(cx=5, cy=5, r=4)
  .backHome
    a(href="index.html")
      span.fa.fa-angle-left
      span.home HOME
  
  
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://unpkg.com/vue/dist/vue.js")
    script(src="javascript/resume.js")
