//output:index.html

doctype html
head
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet", href="../css/index.css")
  title YR Fang | Front-end Developer
body
  .asideWrapper
    header
      nav#side-nav
        #menu_toggle
          i.fa.fa-bars
          //- .line
          //- .line
          //- .line
        ul
          li
            a(href="#")
              .title ABOUT
              .infoIcon
                .fa.fa-flask
              p Hello
          li
            a(href="#")
              .title WORK
              .infoIcon
                .fa.fa-pencil
              p Case Studies?
          li
            a(href="#")
              .title CONTACT
              .infoIcon
                .fa.fa-envelope
              p Let's get in touch
            


  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="https://unpkg.com/vue/dist/vue.js")
  script(src="../index.js")
  
