//output:index.html

doctype html
head
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet", href="../css/index.css")
  title YR Fang | Front-End Developer
body
  .menu#side-nav
    nav#menu_toggle
      i#toggle.fa.fa-bars
    ul
      li
        a(href="#section_about")
          .title ABOUT
          .infoIcon
            .fa.fa-flask
          p Hello
      li
        a(href="#")
          .title WORK
          .infoIcon
            .fa.fa-pencil
          p Case Studies?
      li
        a(href="#")
          .title CONTACT
          .infoIcon
            .fa.fa-envelope
          p Let's get in touch
  #content
    section#section_about
      .outerContainer
        .row
          .screenCover
            .coverPhoto
            .coverLowerPhoto
          .col-xs-12.heading
            h2.title Ying Ru Fang
            h6.subtitle Front-end Developer | Taiwan, Taipei <br> Create something powerful | change the people's mind
          .col-xs-12.col-lg-4.col-lg-push-8.resume
            .row
              .col-xs-6.col-sm-4.col-sm-push-2.col-lg-push-0.col-lg-8
                a(href="")
                  .iconContainer
                    img.imgIcon(src="https://image.flaticon.com/icons/svg/85/85047.svg")
                    h4.title Resume
                    h6.sub__title View Resume
              .col-xs-6.col-sm-4.col-sm-push-2.col-lg-push-0.col-lg-8
                a(href="https://github.com/yrfang" target="_blank")
                  .iconContainer
                    img.imgIcon(src="https://image.flaticon.com/icons/svg/24/24107.svg")
                    h4.title GitHub
                    h6.sub__title View Repositories
          .col-xs-12.col-lg-8.col-lg-pull-4.introduction
            p Hi, I'm Ruby. Though I am a front-end developer by day, I have put pen to paper during the design process, been completely lost in a full stack environment and have even worn the entrepreneurship hat.
            p I am an alumnus of SFU's School of Interactive Arts + Technology program, graduating with a Bachelors of Science with a major in Media Arts. Originally from Vancouver, Canada but now residing in Sydney, Australia, I'm looking to grow personally and professionally anywhere in the world.
            p I want to be involved in projects that I can be proud of, join an amazing team and advance my development career. Take some time to look at my work, credentials and if you're interested in helping me make this happen, let's get in touch.
    section#section_work
      .row
        .col-xs-12.heading
          h2.title Work
          h6.subtitle A SHOWCASE OF DESIGN, <br> DEVELOPMENT AND EXPERIMENTS
        
      
            


  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="https://unpkg.com/vue/dist/vue.js")
  script(src="../index.js")
  
