//output:project1.html

doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="../css/project.css")
    title Project Name | YR Fang | Creative Front-End
body
  .container
    section#section_title
      .row
        .col-xs-12.col-md-5
          h2 Front-End Starter's<br> 50 project
          .tags
            ul
              li HTML5
              li CSS3
              li Bootstrap
              li RWD
              li JavaScript
              li JQuery
              li Vue.js
          .links
            a(href="") View project
            a(href="https://github.com/yrfang/frontend-starter" target="_blank") View Code
        .col-xs-12.col-md-6
          .screen_container
            .topper
              .circle
              .circle
              .circle
            .innerScreen
    hr
    section#section_summary
      .row
        .col-xs-12.col-md-5
          h2 Qick Summary
        .summary.col-xs-12.col-md-6
          ul
            li 由模仿開始
            li 從W3C範例參考，開始學習手刻
    hr
    section#section_detail
      .row
        .col-xs-12.col-md-5
          h2 Features
        .col-md-6
          .row
            .col-xs-12.col-md-12
              .outer_container
                .display
                .text
                  h3 Weather Information
                  ul
                    li HTML5
                    li ajax
                    li SASS
                  a(href="#") View More
            .col-xs-12.col-md-12
              .outer_container
                .display
                .text
                  h3 Weather Information
                  ul
                    li HTML5
                    li ajax
                    li SASS
                  a(href="#") View More
    hr
    section#section_result
      .row
        .col-xs-12.col-md-5
          h2 Result
        .result.col-xs-12.col-md-6
          ul
            li 結果1
            li 結果2，開始學習手刻
    footer.backHome
      a(href="#")
        span.fa.fa-angle-left
        span.home HOME
      
    
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="https://unpkg.com/vue/dist/vue.js")
  //- script(src="../javascript/resume.js")
