//output:front-end-starter's-project.html

doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="../css/project-template.css")
    title Front-end Starter's 50 Project | YR Fang
    style(media="screen").
      .innerScreen {
        background-image: url('../image/front-end-starter-project/coverphoto-front-end-starter-project.png');
      }
body
  #app.container
    section#section_title
      .row
        .col-xs-12.col-md-5
          h2 Front-end Starter's<br> 50 Project
          .tags
            ul
              li HTML5
              li CSS3
              li Javascript
              li Jquery
              li Vue.js
          .links
            a(href="https://yrfang.github.io/frontend-starter/" target="_blank") View project
            a(href="https://github.com/yrfang/frontend-starter" target="_blank") View Code
        .col-xs-12.col-md-6
          .screen_container
            .topper
              .circle
              .circle
              .circle
            .innerScreen
    hr
    section#section_summary
      .row
        .col-xs-12.col-md-5
          h2 Qick Summary
        .summary.col-xs-12.col-md-6
          ul
            li My First website and learn how to use html, css and javascript.
            li As inspired by <a href="https://jenniferdewalt.com/">Jennifer Dewalt</a>, I decided to teach my self coding by making the website.
            li By doing these projects in the webstie, I have the sense of accomplishment when completeting the website.
            li As a result, I have dived into the programmer's world.
    hr
    section#section_detail
      .row
        .col-xs-12.col-md-12
          h2 Features
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-1-cover.png');")
            h3 Travel Style Quiz
        .col-xs-12.col-md-6
          .text
            p Simple onepage questionnaire
            ul
              li HTML5
              li CSS3
              li Javascript
              li Jquery
            a(href="https://yrfang.github.io/frontend-starter/travel_style/travel_style.html" target="_blank") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-2-cover.png');")
            h3 Click Limitation Game
        .col-xs-12.col-md-6
          .text
            p Test your click speed in per minute
            ul
              li HTML5
              li CSS3
              li Javascript
              li Jquery
            a(href="https://yrfang.github.io/frontend-starter/click_limitation/click_limitation.html" target="_blank") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-3-cover.png');")
            h3 Shaking Fruit Animation
        .col-xs-12.col-md-6
          .text
            p Click the fruit and see the effect of animation
            ul
              li HTML5
              li CSS3/Animaion
              li Jquery
            a(href="https://yrfang.github.io/frontend-starter/sweet_fruit/sweet_fruit.html" target="_blank") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-5-cover.png');")
            h3 Slideshow
        .col-xs-12.col-md-6
          .text
            p Create this slideshow page refer to W3C document
            ul
              li HTML5
              li Javascript
              li Jquery
            a(href="https://yrfang.github.io/frontend-starter/slideshow/slideshow.html" target="_blank") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-4-cover.png');")
            h3 Countdown Timer
        .col-xs-12.col-md-6
          .text
            p Choose counting backward from the date or time
            ul
              li HTML5
              li Javascript/Date object
              li Jquery
            a(href="https://yrfang.github.io/frontend-starter/countdown_timer/countdown_timer.html" target="_blank") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-6-cover.png');")
            h3 Simple Calculator
        .col-xs-12.col-md-6
          .text
            p Simple and basic function (keyboard is also available)
            ul
              li HTML5
              li Javscript
              li Jquery
            a(href="https://yrfang.github.io/frontend-starter/calculator/calculator.html" target="_blank") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-7-cover.png');")
            h3 To Do List
        .col-xs-12.col-md-6
          .text
            p List can be checked and removed when finished
            ul
              li HTML5
              li Javscript
              li Jquery
            a(href="https://yrfang.github.io/frontend-starter/to_do/to_do.html" target="_blank") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-9-cover-front-end-starter-project.png');")
            h3 Weather Information
        .col-xs-12.col-md-6
          .text
            p Asynchronous javaScript using jquery to parse JSON object
            ul
              li HTML5
              li Javscript
              li Jquery
              li JSON
              li Ajax
            a(href="https://yrfang.github.io/frontend-starter/weather-ajax/weather-ajax.html" target="_blank") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-8-cover.png');")
            h3 Skroll of Train Story
        .col-xs-12.col-md-6
          .text
            p Basic introduction website in onepage
            ul
              li HTML5
              li SCSS
              li Bootstrap
              li Javascript
              li jquery
              li UI design
            a(href="https://yrfang.github.io/frontend-starter/train-story/train-story.html" target="_blank") View More
    hr
    section#section_result
      .row
        .col-xs-12.col-md-5
          h2 Learned
        .result.col-xs-12.col-md-6
          ul
            li I started to record my coding version with git on the GitHub.
            li From work No.1 to No.30, I have learned how to create items in the browser with HTML, CSS and Javscript.
            li To further enhance the sence of a front-end developer, I make much more works with some UI concept through a on-line course. Then work No.31 to No.50 were completed simultaneously.
            li I already have the basic knowledge of HTML, CSS and Javascript.
    footer.backHome
      a(href="../index.html")
        span.fa.fa-angle-left
        span.home HOME
      
    
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    
