//output:front-end-starter's-project.html

doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="../css/project-template.css")
    title Front-end Starter's Website | YR Fang
    style(media="screen").
      .innerScreen {
        background-image: url('../image/front-end-starter-project/coverphoto-front-end-starter-project.png');
      }
body
  #app.container
    section#section_title
      .row
        .col-xs-12.col-md-5
          h2 Front-end Starter's<br> Website
          .tags
            ul
              li HTML / Jade / Pug
              li CSS / SCSS / Sass
              li JavaScript
              li JQuery
          .links
            a(href="https://yrfang.github.io/frontend-starter/" target="_blank") View Project
            a(href="https://github.com/yrfang/frontend-starter" target="_blank") View Github
        .col-xs-12.col-md-6
          .screen_container
            .topper
              .circle
              .circle
              .circle
            .innerScreen
    hr
    section#section_summary
      .row
        .col-xs-12.col-md-5
          h2 Qick Summary
        .summary.col-xs-12.col-md-6
          ul
            li This is my first website and its idea was inspired by <a href="https://jenniferdewalt.com/" target="_blank">Jennifer Dewalt</a>.
            li For the first part of the website (work 1 to work 30), my practice were referred to Jennifer Dewalt.
            li In order to further enhance my basis of front-end, I have implemented my second part of the website (work 31 to work 50) with <a href="https://hahow.in/courses/56189df9df7b3d0b005c6639" target="_blank">on-line course</a>.
            li I haved taught myself how to use HTML, CSS and JS in implement of a basic website after getting off work.
            li I also manage my codes with Github.
    hr
    section#section_detail
      .row
        .col-xs-12.col-md-12
          h2 Features
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-1-cover.png');")
            h3 Travel Style Quiz
        .col-xs-12.col-md-6
          .text
            p Simple onepage questionnaire
            ul
              li The page was built by JQuery with scroll animation.
              li 立即使用的JS function
            a(href="https://yrfang.github.io/frontend-starter/travel_style/travel_style.html" target="_blank") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-2-cover.png');")
            h3 Click Limitation Game
        .col-xs-12.col-md-6
          .text
            p Click speed test in 30 seconds
            ul
              li A Customized time bar was designed in the click speed game.
              li I was much familiar how to use JQuery.
            a(href="https://yrfang.github.io/frontend-starter/click_limitation/click_limitation.html" target="_blank") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-3-cover.png');")
            h3 Shaking Fruit Animation
        .col-xs-12.col-md-6
          .text
            p Differect animation effect
            ul
              li Fruits animation was created pure CSS.
              li I have had ability to use CSS animation attributes.
            a(href="https://yrfang.github.io/frontend-starter/sweet_fruit/sweet_fruit.html" target="_blank") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-5-cover.png');")
            h3 Slideshow
        .col-xs-12.col-md-6
          .text
            p Photo slideshow with previous and next click
            ul
              li The basic slideshow was built with Javascript and JQuery library without other slideshow plugin.
            a(href="https://yrfang.github.io/frontend-starter/slideshow/slideshow.html" target="_blank") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-4-cover.png');")
            h3 Countdown Timer
        .col-xs-12.col-md-6
          .text
            p A customized time or date can be calcuted with countdown format.
            ul
              li I realized that how to use JS date formats.
            a(href="https://yrfang.github.io/frontend-starter/countdown_timer/countdown_timer.html" target="_blank") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-6-cover.png');")
            h3 Simple Calculator
        .col-xs-12.col-md-6
          .text
            p Basic calculator (keyboard is also available)
            ul
              li I have learnd how to design a calculator with basic format.
              li Besides mouse event, keyboard event is also available.
              li Calculator is a good exercise to understand the basic pattern of a project.
            a(href="https://yrfang.github.io/frontend-starter/calculator/calculator.html" target="_blank") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-7-cover.png');")
            h3 To Do List
        .col-xs-12.col-md-6
          .text
            p Basic to-do-list
            ul
              li The finished list could be deleted on the brower.
              li I learned how to operate the parent and child element in the browser.
            a(href="https://yrfang.github.io/frontend-starter/to_do/to_do.html" target="_blank") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-9-cover-front-end-starter-project.png');")
            h3 Weather Information
        .col-xs-12.col-md-6
          .text
            p Weather data with AJAX
            ul
              li Understanding what is AJAX.
              li Using JQuery to implement AJAX.
            a(href="https://yrfang.github.io/frontend-starter/weather-ajax/weather-ajax.html" target="_blank") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/front-end-starter-project/feature-8-cover.png');")
            h3 Skroll of Train Story
        .col-xs-12.col-md-6
          .text
            p Onepage introduction website
            ul
              li A simple introduction website was designed with basic Bootstrap UI.
              li I have learned how to use bootstrap and its grid system to build a RWD website.
              li First time I used <a href="https://github.com/Prinzhorn/skrollr" target="_blank">scrolling library</a> to make the animation effect as window scrolling.
            a(href="https://yrfang.github.io/frontend-starter/train-story/train-story.html" target="_blank") View More
    footer.backHome
      a(href="../index.html")
        span.fa.fa-angle-left
        span.home HOME
      
    
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    
