//output:taipei-typhoon-message.html

doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="../css/project-template.css")
    title Taipei Typhoon Message Project | YR Fang
    style(media="screen").
      .innerScreen {
        background-image: url('../image/taipei-typhoon/coverphoto-taipei-typhoon.png');
      }
body
  #app.container
    section#section_title
      .row
        .col-xs-12.col-md-5
          h2 Taipei Typhoon Message
          h3 A Vue.js Project
          .tags
            ul
              li HTML5 / Pug
              li Sass
              li JavaScript / ES6
              li Ajax with axios
              li Vue.js / Vue-cli
              li Api
          .links
            a(href="https://yrfang.github.io/typhoon-message/" target="_blank") View project
            a(href="https://github.com/yrfang/typhoon-message" target="_blank") View Code
        .col-xs-12.col-md-6
          .screen_container
            .topper
              .circle
              .circle
              .circle
            .innerScreen
    hr
    section#section_summary
      .row
        .col-xs-12.col-md-5
          h2 Qick Summary
        .summary.col-xs-12.col-md-6
          ul
            li A useful website for Taipei typhoon message project with government's open source data of the disaster.
            li The first complete Vue.js side project I did with multiple components.
            li I have fininsed with two parts. One is the table with the latest update of tyhpoon message. And the other one is the google map api connet with data.
            li Currently, the website is available with GitPage and analzed with Google analysis.
    hr
    section#section_detail
      .row
        .col-xs-12.col-md-12
          h2 Features
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/taipei-typhoon/feature-1-table.png');")
            h3 Table
        .col-xs-12.col-md-6
          .text
            p Latest message table with select form, sorted columns and pagination
            ul
              li Vue-cli
              li Packages installed with npm
              li Single page application with vue-router
            //- a(href="#") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/taipei-typhoon/feature-2-map.png');")
            h3 Google Map
        .col-xs-12.col-md-6
          .text
            p Google map of power outage in Taipei with select form
            ul
              li Google map api connect
              li Single page application with vue-router
            //- a(href="#") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/taipei-typhoon/feature-4-GA.png');")
            h3 Google Analysis
        .col-xs-12.col-md-6
          .text
            p Website with google analysis (GA)
            ul
              li GA libraray
            //- a(href="#") View More
    hr
    section#section_result
      .row
        .col-xs-12.col-md-5
          h2 Learned
        .result.col-xs-12.col-md-6
          ul
            li Learn how to design usable code and components with Vue-cli in a "real" development workflow.
            li Connecting to servers using vue-axios but jquery.
            li The basic table with filtered, sorted features and pagination is the most powerful usage of Vue.js with its two-way data binding feature.
            li Learn how to connect google map API with select form in different Taipei distrcts.
            li Routing in a Vue.js Application to make a single page.
            li Finally, I haved known how to deploy my finished appliction with build tools. 
    footer.backHome
      a(href="../index.html")
        span.fa.fa-angle-left
        span.home HOME
      
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")  
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
