//output:taipei-typhoon-message.html

doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="../css/project-template.css")
    title Taipei Typhoon Information Website | YR Fang
    style(media="screen").
      .innerScreen {
        background-image: url('../image/taipei-typhoon/coverphoto-taipei-typhoon.png');
      }
body
  #app.container
    section#section_title
      .row
        .col-xs-12.col-md-5
          h2 Taipei Typhoon Information
          h3 A Vue.js Project
          .tags
            ul
              li Jade / Pug
              li Sass
              li JavaScript
              li Ajax with axios
              li Vue.js / Vue-cli
              li Google map api
          .links
            a(href="https://yrfang.github.io/typhoon-message/" target="_blank") View Project
            a(href="https://github.com/yrfang/typhoon-message" target="_blank") View Github
        .col-xs-12.col-md-6
          .screen_container
            .topper
              .circle
              .circle
              .circle
            .innerScreen
    hr
    section#section_summary
      .row
        .col-xs-12.col-md-5
          h2 Qick Summary
        .summary.col-xs-12.col-md-6
          ul
            li In order to implement in a "real" development workflow, I took <a href="https://quip.com/wFZYARR2o5uS" target="_blank">the typhoon information guidance</a> as a reference.
            li I have learned how to build the Vue.js project with <a href="https://github.com/vuejs/vue-cli" target="_blank">vue-cli</a> tools and manage npm moduls.
            li The website was built as single page, including two parts. One is information table and the other is power outage map.
            li Data in the website was implemented from government's open source with <a href="https://github.com/imcvampire/vue-axios" target="_blank">vue-axios</a> instead of JQuery AJAX.
            li The single page application was completed by <a href="https://router.vuejs.org/en/" target="_blank">vue-router</a>.
            li Currently, the website is available with GitPage and analzed with Google analysis.
    hr
    section#section_detail
      .row
        .col-xs-12.col-md-12
          h2 Features
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/taipei-typhoon/feature-1-table.png');")
            h3 Information Table
        .col-xs-12.col-md-6
          .text
            p Latest information of typhoon in Taiepi
            ul
              li Using data-binding of Vue.js framework to built a table with select form.
              li Each column can be sorted with its heading row.
              li The pagination was finished without any plugin.
              li I was much familiar with vue component's attributes and its usage.
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/taipei-typhoon/feature-2-map.png');")
            h3 Google Map
        .col-xs-12.col-md-6
          .text
            p Google map of power outage in Taipei
            ul
              li I haved learned how to connect the google map API with ajax data.
              li Data could be filter with differect district selet form in Taipei based on data-binding of Vue.js.
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/taipei-typhoon/feature-4-GA.png');")
            h3 Google Analysis (GA)
        .col-xs-12.col-md-6
          .text
            p Website with GA
            ul
              li I have understand how to use GA on the specific website.
              li Currently, I can inspect my website with GA to analysis my users' behavior.
    footer.backHome
      a(href="../index.html")
        span.fa.fa-angle-left
        span.home HOME
      
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")  
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
