//output:vue-note.html

doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="../css/project-template.css")
    title Vue.js Note Project | YR Fang
    style(media="screen").
      .innerScreen {
        background-image: url('../image/vue-note/coverphoto-vue-note.png');
      }
body
  #app.container
    section#section_title
      .row
        .col-xs-12.col-md-5
          h2 Vue.js Note Project
          h3 A Vue.js Project with LocalStorage
          .tags
            ul
              li Jade / Pug
              li Sass
              li RWD
              li JavaScript
              li Vue.js / Vue-cli
          .links
            a(href="https://yrfang.github.io/vuejs-localstorage-note/" target="_blank") View Project
            a(href="https://github.com/yrfang/vuejs-localstorage-note" target="_blank") View Github
        .col-xs-12.col-md-6
          .screen_container
            .topper
              .circle
              .circle
              .circle
            .innerScreen
    hr
    section#section_summary
      .row
        .col-xs-12.col-md-5
          h2 Qick Summary
        .summary.col-xs-12.col-md-6
          ul
            li A simple website for users to take notes with local storage in browser. Therefore the notes will not disppear as browser fresh.
            li It's the project that was applied in single page and finished with <a href="https://router.vuejs.org/en/" target="_blank">vue-router</a>.
            li I tried to design the brief layout and bring a good UX for users.
            li There are some basic but useful features in my design. Users can decide there customized tags and search notes with keywords easily.
            li A real backend database such as Firebase I want to intergrate to my note project with user authentication in the future.
    hr
    section#section_detail
      .row
        .col-xs-12.col-md-12
          h2 Features
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/vue-note/feature3-tagsearch.png');")
            h3 Notes List Main Page
        .col-xs-12.col-md-6
          .text
            p Notes can be easily search by keyword or tags
            ul
              li All edited notes were saved in the browser's local storage until the note list page was loaded to get data in local storage.
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/vue-note/feature1-note.png');")
            h3 Viewing Note
        .col-xs-12.col-md-6
          .text
            p Viewing each note, editing and  deleting is all available.
            ul
              li Using the unique id <a href="https://www.npmjs.com/package/uuid" target="_blank">(uuid library)</a>, which was installed by npm to build the path in vue-router rendering.
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/vue-note/feature2-edit.png');")
            h3 Editing note
        .col-xs-12.col-md-6
          .text
            p Editing each note
            ul
              li Editing page was finished easily by two-data binding feature in Vue.js.
              li I have used "set" instead of "array" in JS to achieve the unique value when users added new repeated tags.
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/vue-note/feature5-mobile-screen.png');")
            h3 Mobile Application
        .col-xs-12.col-md-6
          .text
            p RWD design
            ul
              li 80% pure CSS to achieve RWD design.
              li All features on the large screen are also available on the mobile device.
    footer.backHome
      a(href="../index.html")
        span.fa.fa-angle-left
        span.home HOME
      
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")  
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
