//output:vue-starter-project.html

doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="../css/project-template.css")
    title Vue.js Starter's Project | YR Fang
    style(media="screen").
      .innerScreen {
        background-image: url('../image/vue-starter-project/coverphoto-vue-starter-project.png');
      }
body
  #app.container
    section#section_title
      .row
        .col-xs-12.col-md-5
          h2 Vue.js Starter's Project
          .tags
            ul
              li Jade / Pug
              li SCSS
              li JavaScript / ES6
              li Vue.js
          .links
            a(href="") View project
            a(href="https://github.com/yrfang/Vue.js-projects" target="_blank") View Code
        .col-xs-12.col-md-6
          .screen_container
            .topper
              .circle
              .circle
              .circle
            .innerScreen
    hr
    section#section_summary
      .row
        .col-xs-12.col-md-5
          h2 Qick Summary
        .summary.col-xs-12.col-md-6
          ul
            li The first javascript framework of Vue.js I use to apply in website developement.
            li I have learned how to use Vue.js and component object to develop my coding efficiently.
            li Make a searchable table or grid with regular expression.
    hr
    section#section_detail
      .row
        .col-xs-12.col-md-12
          h2 Features
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/vue-starter-project/coverphoto-vue-starter-project.png');")
            h3 Hotel Management Page
        .col-xs-12.col-md-6
          .text
            p Management page and edit price/remove the information is available
            ul
              li HTML5
              li CSS3
              li Javascript
              li Jquery
              li RWD
            a(href="#") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/vue-starter-project/feature-1-slideshow.png');")
            h3 Vue Slideshow
        .col-xs-12.col-md-6
          .text
            p Click the simple photo slideshow
            ul
              li HTML5
              li CSS3
              li Javascript
              li Jquery
            a(href="#") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/vue-starter-project/feature-3-switchable-table.png');")
            h3 Switchable Table
        .col-xs-12.col-md-6
          .text
            p Switchable table with big and small grid view
            ul
              li HTML5
              li Sass/Scss
              li Vue.js
            a(href="#") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/vue-starter-project/feature-4-keep-note-with-localstorage.png');")
            h3 Editable Notes with Local Storage
        .col-xs-12.col-md-6
          .text
            p Keep your notes in your website and it will not be removed when refreshing the page
            ul
              li HTML5
              li Javascript
              li Local storage
            a(href="#") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/vue-starter-project/feature-5-vue-table.png');")
            h3 Vue Table
        .col-xs-12.col-md-6
          .text
            p Searchable ID data of ajax data with sliced page table
            ul
              li HTML5
              li Javascript/ES6
              li Jquery/ajax
            a(href="#") View More
    hr
    section#section_result
      .row
        .col-xs-12.col-md-5
          h2 Learned
        .result.col-xs-12.col-md-6
          ul
            li Learn how to manage codes with much more brief and efficient way.
            li Know what can the javascript framework do in web application and the pattern of MVC or MVVC.
            li Next, I want to 更模組化的去思考所有的功能
    footer.backHome
      a(href="../index.html")
        span.fa.fa-angle-left
        span.home HOME
      
    
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    
