//output:vue-note.html

doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="../css/project-template.css")
    title VueJS Note Project | YR Fang
    style(media="screen").
      .innerScreen {
        background-image: url('../image/vue-note/coverphoto-vue-note.png');
      }
body
  #app.container
    section#section_title
      .row
        .col-xs-12.col-md-5
          h2 Vue.js Note Project
          h3 A Vue.js Project with LocalStorage
          .tags
            ul
              li HTML5 / Pug
              li Sass
              li RWD
              li JavaScript / ES6
              li Vue.js / Vue-cli
          .links
            a(href="https://yrfang.github.io/vuejs-localstorage-note/" target="_blank") View project
            a(href="https://github.com/yrfang/vuejs-localstorage-note" target="_blank") View Code
        .col-xs-12.col-md-6
          .screen_container
            .topper
              .circle
              .circle
              .circle
            .innerScreen
    hr
    section#section_summary
      .row
        .col-xs-12.col-md-5
          h2 Qick Summary
        .summary.col-xs-12.col-md-6
          ul
            li A simple website for users to take notes with local storage in browser. Therefore the notes will not disppear as browser fresh.
            li It's the project that was applied in single page.
            li There are some basic but useful features in my note project. Users can decide there customized tags and search notes with keywords.
            li Hope this simple note application make users take notes easily.
    hr
    section#section_detail
      .row
        .col-xs-12.col-md-12
          h2 Features
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/vue-note/feature1-note.png');")
            h3 Viewing Note
        .col-xs-12.col-md-6
          .text
            p View the note in the single page, edit and delete is also available.
            ul
              li Vue-cli
              li Packages installed with npm
              li Single page application with vue-router
            //- a(href="#") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/vue-note/feature2-edit.png');")
            h3 Editing note
        .col-xs-12.col-md-6
          .text
            p Edit the note through data binding feature of Vue.js framework.
            ul
              li Vue.js / v-model
            //- a(href="#") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/vue-note/feature3-tagsearch.png');")
            h3 Classification with Tags
        .col-xs-12.col-md-6
          .text
            p Notes can be quickly search by uses' tags.
            ul
              li Vue.js / v-model
            //- a(href="#") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/vue-note/feature4-keyword-search.png');")
            h3 Keywords search
        .col-xs-12.col-md-6
          .text
            p Keywords can be easily search with title, tag or text in any notes.
            ul
              li Vue.js / v-model
            //- a(href="#") View More
      .row.detail_row
        .col-xs-12.col-md-6
          .outer_container
            .display(style="background-image: url('../image/vue-note/feature5-mobile-screen.png');")
            h3 Mobile Application
        .col-xs-12.col-md-6
          .text
            p The website is RWD in mobile device.
            ul
              li CSS / SASS
              li RWD
            //- a(href="#") View More
    hr
    section#section_result
      .row
        .col-xs-12.col-md-5
          h2 Learned
        .result.col-xs-12.col-md-6
          ul
            li Try to design the brief layout and bring a good UX finally.
            li Much familiar with npm install packages to finish a complete project.
            li The first time to use local storage application in the front end project. Therefore, users' notes or data will not disappear after browser refreshing.
            li A real backend database such as Firebase I want to intergrate to my note project with user authentication in the future.
    footer.backHome
      a(href="../index.html")
        span.fa.fa-angle-left
        span.home HOME
      
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")  
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
